In [1]:
import pandas as pd

In [43]:
path = '/opt/data/GIS-Census/florida'
# Define column names
column_names = ['voterid', 'address_in', 'match_indicator', 'match_type', 'address_out', 'long_lat', 'tiger_edge', 'street_side', 'fips_state', 'fips_county', 'census_tract', 'census_block']

# Define the data types for each column
column_types = {
    'voterid': 'str',
 'address_in': 'str',
 'match_indicator': 'str',
 'match_type': 'str',
 'address_out': 'str',
 'long_lat': 'str',
 'tiger_edge': 'str',
 'street_side': 'str',
 'fips_state': 'str',
 'fips_county': 'str',
 'census_tract': 'str',
 'census_block':'str'
}

df_geo = pd.read_csv(f'{path}/unmatched.csv', index_col=None, dtype=column_types, names=column_names, skiprows=1)

In [44]:
df_geo

,voterid,address_in,match_indicator,match_type,address_out,long_lat,tiger_edge,street_side,fips_state,fips_county,census_tract,census_block
0,128617693,"105 E Monroe St, Jacksonville, FL, 32202",Match,Exact,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476",83899807,L,12,31,17200,1029
1,108044905,"10544 Scott Mill Rd, Jacksonville, FL, 32257-6263",Match,Non_Exact,"10544 SCOTT MILL RD, JACKSONVILLE, FL, 32257","-81.63454445810277,30.18478025272549",646913452,R,12,31,16711,1015
2,124841647,"9411 Osprey Branch Trl UNIT 2, Jacksonville, F...",Match,Non_Exact,"9411 OSPREY BRANCH TL, JACKSONVILLE, FL, 32257","-81.60606687767074,30.208006490255684",650063020,R,12,31,16724,2000
3,108006633,"11501 Old St Augustine Rd APT 46, Jacksonville...",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,114453688,"5137 Oak Bend Ave, Jacksonville, FL, 32257",Match,Exact,"5137 OAK BEND AVE, JACKSONVILLE, FL, 32257","-81.57833794381423,30.20183078417",653834762,L,12,31,16730,2001
...,...,...,...,...,...,...,...,...,...,...,...,...
70244,103904861,"2821 Selma St, Jacksonville, FL, 32205",Match,Exact,"2821 SELMA ST, JACKSONVILLE, FL, 32205","-81.69905256043023,30.311520541572577",83894912,R,12,31,2101,2020
70245,103483708,"311 W ASHLEY ST APT 406, Jacksonville, FL, 32202",Match,Exact,"311 W ASHLEY ST, JACKSONVILLE, FL, 32202","-81.66067519838873,30.331671010804996",83899622,R,12,31,17200,1005
70246,103736123,"601 N Ocean St APT 101, Jacksonville, FL, 32202",Match,Non_Exact,"601 OCEAN ST, JACKSONVILLE, FL, 32202","-81.65537730608031,30.330513014076303",83990025,R,12,31,1000,2015
70247,116022019,"105 E MONROE St, Jacksonville, FL, 32202",Match,Exact,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476",83899807,L,12,31,17200,1029
70248,132469093,"13233 Spartina Grass Dr, Jacksonville, FL, 32218",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# df.columns = ['VoterID', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE', 'STREET_SIDE', 'FIPS_STATE', 'FIPS_COUNTY', 'CENSUS_TRACT', 'CENSUS_BLOCK']
# df['VoterID'] = df["VoterID"].astype('int64')  # or 'float64' for floating-point numbers
df_geo['VoterID'] = df_geo["VoterID"].astype(str)  # or 'float64' for floating-point numbers
# df_geocoded.to_csv(f"{path}/data_result_combined.csv", index=False)
# df_geocoded = df.filter(items=['VoterID', 'ADDRESS_IN', 'MATCH_INDICATOR', 'ADDRESS_OUT', 'LONG_LAT'])
df_geocoded = df_geo
df_geocoded

,VoterID,ADDRESS_IN,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
0,128617693,"105 E Monroe St, Jacksonville, FL, 32202",Match,Exact,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476",83899807.0,L,12.0,31.0,17200.0,1029.0
1,108044905,"10544 Scott Mill Rd, Jacksonville, FL, 32257-6263",Match,Non_Exact,"10544 SCOTT MILL RD, JACKSONVILLE, FL, 32257","-81.63454445810277,30.18478025272549",646913452.0,R,12.0,31.0,16711.0,1015.0
2,124841647,"9411 Osprey Branch Trl UNIT 2, Jacksonville, F...",Match,Non_Exact,"9411 OSPREY BRANCH TL, JACKSONVILLE, FL, 32257","-81.60606687767074,30.208006490255684",650063020.0,R,12.0,31.0,16724.0,2000.0
3,108006633,"11501 Old St Augustine Rd APT 46, Jacksonville...",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,114453688,"5137 Oak Bend Ave, Jacksonville, FL, 32257",Match,Exact,"5137 OAK BEND AVE, JACKSONVILLE, FL, 32257","-81.57833794381423,30.20183078417",653834762.0,L,12.0,31.0,16730.0,2001.0
...,...,...,...,...,...,...,...,...,...,...,...,...
70244,103904861,"2821 Selma St, Jacksonville, FL, 32205",Match,Exact,"2821 SELMA ST, JACKSONVILLE, FL, 32205","-81.69905256043023,30.311520541572577",83894912.0,R,12.0,31.0,2101.0,2020.0
70245,103483708,"311 W ASHLEY ST APT 406, Jacksonville, FL, 32202",Match,Exact,"311 W ASHLEY ST, JACKSONVILLE, FL, 32202","-81.66067519838873,30.331671010804996",83899622.0,R,12.0,31.0,17200.0,1005.0
70246,103736123,"601 N Ocean St APT 101, Jacksonville, FL, 32202",Match,Non_Exact,"601 OCEAN ST, JACKSONVILLE, FL, 32202","-81.65537730608031,30.330513014076303",83990025.0,R,12.0,31.0,1000.0,2015.0
70247,116022019,"105 E MONROE St, Jacksonville, FL, 32202",Match,Exact,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476",83899807.0,L,12.0,31.0,17200.0,1029.0
70248,132469093,"13233 Spartina Grass Dr, Jacksonville, FL, 32218",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
len(df_geocoded)
print(df_geocoded.dtypes)

VoterID             object
ADDRESS_IN          object
MATCH_INDICATOR     object
MATCH_TYPE          object
ADDRESS_OUT         object
LONG_LAT            object
TIGER_EDGE         float64
STREET_SIDE         object
FIPS_STATE         float64
FIPS_COUNTY        float64
CENSUS_TRACT       float64
CENSUS_BLOCK       float64
dtype: object

In [18]:
# matchtext = 'SHADY BRIDGE '
# df_geo1 = df_geocoded[df_geocoded['ADDRESS_IN'].str.contains(matchtext, case=False)]
df_geo1 = df_geocoded[df_geocoded['VoterID'].str.contains('128617693')]
print(df_geo1.dtypes)

VoterID            object
ADDRESS_IN         object
MATCH_INDICATOR    object
ADDRESS_OUT        object
LONG_LAT           object
dtype: object

In [19]:
df_geo1

,VoterID,ADDRESS_IN,MATCH_INDICATOR,ADDRESS_OUT,LONG_LAT
0,128617693,"105 E Monroe St, Jacksonville, FL, 32202",Match,"105 E MONROE ST, JACKSONVILLE, FL, 32202","-81.65596899413345,30.328271922945476"

In [27]:
df2 = pd.read_csv(f"{path}/SoE-full.csv", low_memory=False)
df_soe = df2
# df_soe['VoterID'] = df_soe["VoterID"].astype(str)

In [28]:
print(df_soe.dtypes)

VoterID                     object
Voter_Name                  object
Last_Name                   object
First_Name                  object
Middle_Name                 object
Name_Style                  object
Formatted_Address           object
City_State                  object
Zip_Country                 object
plus4                       object
Residence_Address           object
Street_Number               object
Street_Number_Suffix        object
Street_Dir                  object
Street_Name                 object
Street_Type                 object
Street_Dir_Suffix           object
Unit_Type                   object
Apartment_Number            object
Zip_Code                    object
City_Name                   object
Mailing_Address_1           object
Mailing_Address_2           object
Mailing_Address_3           object
Mailing_Address_4           object
Mailing_City                object
Mailing_State               object
Mailing_zip                 object
Mailing_Country             object
Race                       float64
Sex                         object
Birth_Date                  object
Registration_Date           object
Congressional_District      object
Party                       object
Precinct                    object
House_District              object
Senate_District            float64
Commission_District          int64
School_Board_District        int64
Assistance_Required         object
Mailing_Address_Flag        object
City_Code                   object
City_Ward                   object
Telephone_Number            object
Voter Status                object
Sample_Ballots_By_Email     object
Public_Email_Address        object
Unnamed: 48                 object
Unnamed: 49                 object
dtype: object

In [29]:
df_soe

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,Assistance_Required,Mailing_Address_Flag,City_Code,City_Ward,Telephone_Number,Voter Status,Sample_Ballots_By_Email,Public_Email_Address,Unnamed: 48,Unnamed: 49
0,127102014,"Abdullah, Rasheed K",Abdullah,Rasheed,Kaleem,NaN,8442 KONA AVE,JACKSONVILLE FL,32211,NaN,...,N,Y,0,NaN,(904)982-8385,ACT,N,NaN,NaN,NaN
1,103605268,"Acosta, Alexandra V",Acosta,Alexandra,V,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,N,N,0,NaN,NaN,ACT,NaN,NaN,NaN,NaN
2,103587072,"Acosta, Francisco K",Acosta,Francisco,Klein,NaN,7823 Wildwood Rd,Jacksonville FL,32211,NaN,...,N,N,0,NaN,NaN,ACT,NaN,NaN,NaN,NaN
3,131477247,"Acosta, Juan A",Acosta,Juan,Anibal,NaN,2334 Misty Dr,Jacksonville FL,32211,NaN,...,N,N,0,NaN,NaN,ACT,N,NaN,NaN,NaN
4,116699301,"Acosta, Luis S",Acosta,Luis,S,NaN,1010 Ald Rd,Jacksonville FL,32211,NaN,...,N,N,0,NaN,(904)725-8830,ACT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632531,103485844,"Zarecki JR, Harry",Zarecki,Harry,NaN,JR,5707 Falcon St W,Jacksonville FL,32244,NaN,...,N,N,0,NaN,NaN,ACT,NaN,NaN,NaN,NaN
632532,103485908,"Zarecki, Shirley L",Zarecki,Shirley,L,NaN,5707 Falcon St W,Jacksonville FL,32244,NaN,...,N,N,0,NaN,NaN,ACT,NaN,NaN,NaN,NaN
632533,103649709,"Zayas, Carmen S",Zayas,Carmen,S,NaN,8352 Scottish Ct,Jacksonville FL,32244,NaN,...,N,N,0,NaN,772-9518,ACT,NaN,NaN,NaN,NaN
632534,129849769,"Zimmer, Ashton CL",Zimmer,Ashton,Charles Leon,NaN,8381 Fury Dr,Jacksonville FL,32244,NaN,...,N,N,0,NaN,(904)343-1232,ACT,Y,azymmer@gmail.com,NaN,NaN
632535,130163092,"Zimmerman, Louis J",Zimmerman,Louis,Jay,NaN,6070 Toyota Dr,Jacksonville FL,32244,NaN,...,N,N,0,NaN,(618)600-3332,ACT,N,NaN,NaN,NaN

In [30]:
# df_soe1 = df_soe[df_soe['Residence_Address'].str.contains(matchtext, case=False)]
# df_soe1 = df_soe[df_soe['VoterID'].str.contains('128617693')]
# df_soe1

In [39]:
df_3 = pd.merge(df_soe, df_geocoded, on='VoterID', how='inner').drop(columns=["Unnamed: 48", "Unnamed: 49"], axis=1)
df_3

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
0,103653439,"Fletcher, David J",Fletcher,David,Jordan,NaN,6729 Gamewell Rd,Jacksonville FL,32211,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130478412,"Fletcher, Heidi L",Fletcher,Heidi,Lynn,NaN,6729 Gamewell Rd,Jacksonville FL,32211,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,128979360,"Fletcher, Jared M",Fletcher,Jared,Matthew,NaN,6729 Gamewell Rd,Jacksonville FL,32211,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,103452416,"Fletcher, Jenna D",Fletcher,Jenna,Diane,NaN,6729 Gamewell Rd,Jacksonville FL,32211,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,124725983,"Fletcher, Melissa J",Fletcher,Melissa,Jane,NaN,6729 Gamewell Rd,Jacksonville FL,32211,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70244,120192803,"Wolos, Charlene C",Wolos,Charlene,Christi,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70245,103411820,"Wolos III, Frank J",Wolos,Frank,Joseph,III,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70246,103411821,"Wolos, Janet H",Wolos,Janet,H,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70247,122097518,"Wolos, Jeremy L",Wolos,Jeremy,Luke,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70248,123413676,"Wolos, Josette L",Wolos,Josette,Lauren,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df_3[~df_3['MATCH_INDICATOR'].str.contains('No_Match')]

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,MATCH_INDICATOR,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK
62,131915236,"Edmondson, Darrell E",Edmondson,Darrell,Eugene,NaN,433 Jackson Rd,Jacksonville FL,32225,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,126755737,"Robinson, Sarah E",Robinson,Sarah,Elizabeth,NaN,427 Jackson Rd,Jacksonville FL,32225,6677,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,130129148,"White, Mayellen R",White,Mayellen,R,NaN,431 Jackson Rd,Jacksonville FL,32225,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
962,122528566,"Affolter, Corey L",Affolter,Corey,Lee,NaN,5422 Ft Caroline Rd,Jacksonville FL,32277,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,126696685,"Albert, Esperanza B",Albert,Esperanza,Balat,NaN,4472 Charter Point Blvd,Jacksonville FL,32277,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70197,119709872,"Tran, Minh H",Tran,Minh,Hiep,NaN,5358 Tessa Ter,Jacksonville FL,32244,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70198,103607646,"Vidal, Niorka L",Vidal,Niorka,Lisset,NaN,5340 Tessa Ter,Jacksonville FL,32244,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70199,103433464,"Vincent, Francisca P",Vincent,Francisca,P,NaN,5371 Tessa Ter,Jacksonville FL,32244,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70203,119597091,"Ziminski, Brittany J",Ziminski,Brittany,Jean,NaN,5322 TESSA TER,Jacksonville FL,32244,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70204,121171970,"Ziminski, Jonathan J",Ziminski,Jonathan,James,NaN,5322 Tessa Ter,Jacksonville FL,32244,NaN,...,Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_matched = df_geocoded.join(df_soe, how='left', on='VoterID', lsuffix='_left', rsuffix='_right')
len(df_matched)

70249

In [34]:
df_geo = df_matched[df_matched['Address'].str.contains('dandy', case=False)]
df_geo

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [32]:
df_filtered = df_matched[df_matched['VoterID'] == 103601525]
df_filtered

Empty DataFrame
Columns: [VoterID, VoterID_left, ADDRESS_IN, MATCH_INDICATOR, MATCH_TYPE, ADDRESS_OUT, LONG_LAT, TIGER_EDGE, STREET_SIDE, FIPS_STATE, FIPS_COUNTY, CENSUS_TRACT, CENSUS_BLOCK, VoterID_right, Voter_Name, Last_Name, First_Name, Middle_Name, Name_Style, Formatted_Address, City_State, Zip_Country, plus4, Residence_Address, Street_Number, Street_Number_Suffix, Street_Dir, Street_Name, Street_Type, Street_Dir_Suffix, Unit_Type, Apartment_Number, Zip_Code, City_Name, Mailing_Address_1, Mailing_Address_2, Mailing_Address_3, Mailing_Address_4, Mailing_City, Mailing_State, Mailing_zip, Mailing_Country, Race, Sex, Birth_Date, Registration_Date, Congressional_District, Party, Precinct, House_District, Senate_District, Commission_District, School_Board_District, Assistance_Required, Mailing_Address_Flag, City_Code, City_Ward, Telephone_Number, Voter Status, Sample_Ballots_By_Email, Public_Email_Address, Unnamed: 48, Unnamed: 49]
Index: []

[0 rows x 63 columns]

In [ ]:
unmatched = f"{path}/census-post-matching-unmatched.csv"
dfUnmatched = pd.read_csv(unmatched, sep=',', engine='python')
print(f"Unmatched count: {len(dfUnmatched)}")
dfUnmatched['State'] = 'FL'
dfUnmatched

Unmatched count: 98249

,VoterID,Voter_Name,Last_Name,First_Name,Middle_Name,Name_Style,Formatted_Address,City_State,Zip_Country,plus4,...,MATCH_TYPE,ADDRESS_OUT,LONG_LAT,TIGER_EDGE,STREET_SIDE,FIPS_STATE,FIPS_COUNTY,CENSUS_TRACT,CENSUS_BLOCK,State
0,117058484,"Alsobrook, Andrew C",Alsobrook,Andrew,Clayton,NaN,2315 W CLOVELLY LN,SAINT AUGUSTINE FL,32092,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
1,116997977,"Anderson, Whitney N",Anderson,Whitney,Nicole,NaN,4369 S Quebec St Apt 6110,Denver CO,80237,2655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
2,126482969,"Arango, Juan P",Arango,Juan,Pablo,NaN,PO BOX 1344,EAST PALATKA FL,32131,1344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
3,124465744,"Aviles, David A",Aviles,David,A,NaN,35855 Landon Ln,Murrieta CA,92562,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
4,116117059,"Bankston, Dominique BS",Bankston,Dominique,Breanna Samon,NaN,411 WILDCAT WAY APT 307,KNOXVILLE TN,37918,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98244,120192803,"Wolos, Charlene C",Wolos,Charlene,Christi,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
98245,103411820,"Wolos III, Frank J",Wolos,Frank,Joseph,III,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
98246,103411821,"Wolos, Janet H",Wolos,Janet,H,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
98247,122097518,"Wolos, Jeremy L",Wolos,Jeremy,Luke,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL
98248,123413676,"Wolos, Josette L",Wolos,Josette,Lauren,NaN,6034 Triumph Ln W,Jacksonville FL,32244,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL

In [40]:
# df_voters = dfUnmatched.filter(items=['VoterID', 'Residence_Address', 'City_Name', 'State', 'Zip_Code'])
# dfUnmatched.rename({"Unnamed: 48":"48", "Unnamed: 49":"49"}, axis="columns", inplace=True)
df_voters = dfUnmatched.drop(['ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE','STREET_SIDE','FIPS_STATE','FIPS_COUNTY', 'CENSUS_TRACT','CENSUS_BLOCK'], axis=1)
# df_voters = dfUnmatched.drop(['48', '49', 'ADDRESS_IN', 'MATCH_INDICATOR', 'MATCH_TYPE', 'ADDRESS_OUT', 'LONG_LAT', 'TIGER_EDGE','STREET_SIDE','FIPS_STATE','FIPS_COUNTY', 'CENSUS_TRACT','CENSUS_BLOCK'], axis=1)
# df_voters = dfUnmatched.drop(['48', '49', ], axis=1)
# df_voters.info
df_voters

NameError: name 'dfUnmatched' is not defined

In [20]:
dfCombined = df_voters.join(df_geocoded, on='VoterID', how='left', lsuffix='_left', rsuffix='_right')
dfCombined.dtypes

NameError: name 'df_geocoded' is not defined

In [17]:
# outfile = f"{path}/census-post-matching-unmatched.csv"
# df_unmatched.to_csv(outfile, index=False)

In [11]:
url = 'https://geocoding.geo.census.gov/geocoder/geographies/addressbatch'
payload = {'benchmark':'Public_AR_Current','vintage':'Current_Current'}

In [15]:
# for i in range(3,21):
#     data_chunk = f"{path}/data_chunk_{i+1}.csv"
#     print(f"Data chunk: {data_chunk}")
#     files = {'addressFile': (filename, open(data_chunk, 'rb'), 'text/csv')}
#     s = requests.post(url, files=files, data=payload, timeout=None)
#     
#     print("\t\tGot reponse from Census API")
#     response_chunk_name = f"{path}/data_result_{i+1}.csv"
#     response_chunk_file = open(response_chunk_name, 'wb')
#     response_chunk_file.write(s.content)
#     response_chunk_file.close()

Data chunk: /opt/data/GIS-Census/florida/data_chunk_4.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_5.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_6.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_7.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_8.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_9.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_10.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_11.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_12.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_13.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_14.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_15.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_16.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_17.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_18.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_19.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_20.csv
		Got reponse from Census API
Data chunk: /opt/data/GIS-Census/florida/data_chunk_21.csv

FileNotFoundError: [Errno 2] No such file or directory: '/opt/data/GIS-Census/florida/data_chunk_21.csv'